#contactUsImg {
    background-image:url('img/two-cats.jpg');
}

.contact-intro-text {
    width: 65%;
    text-align: center;
    font-size: 2rem;
    color: #404040;
    font-weight: 300;
}

.contact-intro-subtext {
    width: 25%;
    text-align: center;
    color: #808080;
    font-size: 22px;
    font-family: "Signika", sans-serif;
}

.message-us-br {
    display: none;
}

.get-in-touch__container {
    margin-top: 160px;
}

.get-in-touch__form {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.get-in-touch__submit-button {
    background-color: rgba(0,0,0,0);
    color: var(--mainBlue);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.get-in-touch__get-in-touch {
    border-left: 2px solid #808080;
}

.get-in-touch__contact-info {
    margin-top: 60px;
    margin-left: 20vw;
}

.get-in-touch__facebook {
    margin-top: 30px;
}

.get-in-touch__facebook a, 
.get-in-touch__instagram a{
    color: var(--mainPurple);
}

.get-in-touch__facebook a:hover,
.get-in-touch__instagram a:hover {
    text-decoration: none;
}

.get-in-touch__facebook i, 
.get-in-touch__instagram i {
    font-size: 20px;
}

.get-in-touch__faq {
    margin-top: 165px;
}

.get-in-touch__faq .get-in-touch__faq-p {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.get-in-touch__faq .get-in-touch__faq-a a {
    margin-left: 0;
    margin-top: 0;
    font-size: 16px;
}

.col-md {
    max-width: 50vw;
}

@media only screen and (max-width: 1275px) {
    .titleCardTitleBackground {
        width: 255px;
    }
}

@media only screen and (max-width: 1027px) {
    .contact-intro-text {
        font-size: 1.5rem;
    }

    .contact-intro-subtext {
        width: 40%;
    }

    .get-in-touch__contact-info {
        margin-left: 15vw;
    }

    .get-in-touch__form {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {
    .contact-intro-subtext {
        width: 70%;
        font-size: 1rem;
    }

    .get-in-touch__container {
        margin-top: 40px;
    }

    .message-us-br {
        display: block;
    }
    .get-in-touch__message-us-subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .col-md {
        max-width: 100vw;
    }

    .get-in-touch__contact-info {
        margin-left: 35vw;
    }

    .get-in-touch__get-in-touch {
        margin-top: 120px;
    }

    .get-in-touch__contact-info {
        margin-top: 30px;
    }

    .get-in-touch__faq .get-in-touch__faq-p {
        width: 80%;
        margin-left: 10%;
    }

    .get-in-touch__faq {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .contact-intro-text {
        font-size: 1.25rem;
    }

    .get-in-touch__contact-info {
        margin-left: 25vw;
    }


}