#servicesAndRatesImg {
    background-image:url('img/hero-dog-running.jpg');
}

.intro-text__quote-p{
    font-size: 26px;
    color: #808080;
    width: 57%;
    padding-left: 80px;
    margin-top: 60px;
    border-left: 2px solid var(--mainBlue);
}

.intro-text__subtitle-p a {
    font-weight: bolder;
}

.intro-text__quote-p .accent {
    color: #303030;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.intro-text__subtitle {
    margin-top: 100px;
}

.intro-text__subtitle-p {
    font-size: 24px;
    font-weight: 300;
    width: 70%;
    margin-left: 12%;
    text-align: center;
}

.services__container {
    margin-top: 120px;
}

.services-card__text-title {
    color: #202020;
    font-family: 'Signika', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.services-card__text-lead-p {
    margin-top: 30px;
}

.services-card__text p {
    text-align: center;
}

.services-card__rate {
    margin-left: 20%;
    margin-bottom: 0;
    padding: 10px 0;
    width: 60%;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

.services-card__rate-last {
    border-bottom: 2px solid #808080;
}

.services-card__rate-last .accent {
    margin-left: 20px;
}

.services-card__rate .accent {
    color: var(--mainPurple);
    font-family: "Signika", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.three-level-rate {
    border-bottom: 2px solid #808080;
}