#dogWalkingDropdown {
    background-image: url(../img/dogWalking.jpg);
    
}

#petSittingDropdown {
    background-image: url(../img/petSitting.jpg);
    
}

#otherCrittersDropdown {
    background-image: url(../img/otherCritters.jpg);
    
}

.dropdown {
    height: 100px;
    background-size: cover;
    text-align: center;
    clear: both;
    display: block;
}

.dropdownTitle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-family: 'Signika', sans-serif;
}

.dropdownText {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--mainPurple);
    padding-top: 60px;
}

.basicServiceCard {
    position: relative;
    color: var(--mainGray);
    margin-top: 60px;
    width: 75%;
    left: 12.5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.basicServiceCard h3 {
    color: var(--darkGray);
}

.basicServiceCard hr {
    border: 0.5px solid var(--lightGray);
    width: 70%;
    align-content: center;
    position: relative;
    margin-top: 16px;
}

.basicServiceCard p {
    margin-bottom: 0;
}

.basicServiceCard p:first-of-type {
    margin-top: 40px;
}

.firstServiceCard {
    margin-top: 120px;
}

.dropdownArrow {
    position: relative;
    top: 25%;
    color: white;
}

.dropdownButton {
    padding-bottom:0;
}

.dropdownContent {  
    display: none; 
    background-color: white;
}

.show {
    display: block;
}

.moveDropdown {
    margin-top:1000px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgba(255,255,255,0);
}

button:hover,
button:focus {
    background: rgba(255,255,255,0);
}

button:focus {
    outline: 1px solid rgba(255,255,255,0);
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#dropDownSection {
    margin-top: 50px;
}
