#servicesAndRatesImg {
    background-image:url('img/hero-dog-running.jpg');
}

.intro-text__quote-p{
    font-size: 26px;
    color: #808080;
    width: 57%;
    padding-left: 80px;
    margin-top: 60px;
    border-left: 2px solid var(--mainBlue);
}

.intro-text__subtitle-p a {
    font-weight: bolder;
}

.intro-text__subtitle {
    margin-top: 100px;
}

.intro-text__subtitle-p {
    font-size: 24px;
    font-weight: 300;
    width: 70%;
    text-align: center;
}

.services__container {
    margin-top: 120px;
}

.services__container img {
    max-width: 50vw;
}

.services__container .services-row-1 .col-md.services-card__text,
.services__container .services-row-2 .col-md.pet-sitting__img,
.services__container .services-row-3 .col-md.services-card__text {
    padding-right: 0;
    width: 95%;
}

.services-card__text-title {
    color: #202020;
    font-family: 'Signika', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.services-card__text-lead-p {
    margin-top: 30px;
}

services-card__text-lead-p a {
    font-weight: bolder;
}

.services__container .row {
    margin-right: 0;
}

.services-card__text-text p {
    text-align: center;
}

.services-card__rate {
    margin-left: 20%;
    margin-bottom: 0;
    padding: 10px 0;
    width: 60%;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

.services-card__rate-last {
    border-bottom: 2px solid #808080;
}

.services-card__rate-last .accent {
    margin-left: 20px;
}

.services-card__rate .accent {
    color: var(--mainPurple);
    font-family: "Signika", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.three-level-rate {
    border-bottom: 2px solid #808080;
}

.services-card__rate-last,
.three-level-rate {
    margin-bottom: 20px;
}

.pet-sitting-mobile {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .card-title.intro-title {
        font-size: 1.75rem;
        text-align: center;
    }

    .titleCardTitleBackground {
        min-width: 200px;
    }

    .intro-text__subtitle-p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .intro-text__quote-p {
        font-size: 1.75rem;
    }

    .services-row-1 .services-card-rates {
        margin-top: -189px;
        margin-right: 72%;
        margin-bottom: 40px;
        margin-left: -140%;
    }

    .services-row-2 .services-card-rates {
        margin-top: -145px;
        margin-bottom: 40px;
        margin-left: 106%;
        width: 107%;
    }

    .services-row-2 .services-card-rates .services-card__rate {
        width: 100%;
        margin-left: 0;    }

    .services-row-3 .services-card-rates {
        margin-top: 75px;
        margin-right: 75%;
        margin-bottom: 40px;
        margin-left: -145%;
    }
}

@media only screen and (max-width: 850px) {
    .services-row-1 .services-card-rates {
        margin-top: -300px;
    }

    .services-row-2 .services-card-rates {
        margin-top: -215px;
    }

    .services-row-3 .services-card-rates {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .intro-text__quote-p {
        font-size: 1.25rem;
    }

    .intro-text__subtitle-p {
        font-size: 1rem;
    }

    .services__container img {
        max-width: 100vw;
    }

    .services__container .row {
        margin-top: 30px;
    }

    .services-card__text-title {
        font-size: 1.5rem;
    }

    .services-card__text p {
        font-size: 1rem;
        text-align: left;
        padding-left: 10px;
    }

    .pet-sitting-xl {
        display: none;
    }

    .pet-sitting-mobile {
        display: block;
    }

    .services-row-1 .services-card-rates,
    .pet-sitting-mobile .services-card-rates,
    .services-row-3 .services-card-rates {
        margin-bottom: 30px ;
        margin-top: 0;
        margin-left: 30px;
        margin-right: 30px;
    }

    .services-card__rate {
        margin-left: 0;
        width: 100%;
    }

    .services-card__rate-last .accent {
        margin-left: 0;
    }
}